<% include ../partials/header %>

    <h1><%= fullname %></h1>
<% hobbies.forEach(function(hobbies) { %>
        <li><%= hobbies %></li>
    <% }); %>
<h3><%= bdate %></h3>
 <% include ../partials/footer %>