<% include ../partials/header %>
  <div class="jumbotron jumbotron-fluid">
       <div class="container">
           <h1 class="display-3 text-center">Express+EJS</h1>
           <p class="lead text-center ">Project FullStrack</p>
           <hr class="my-2 text-center">
           <p class="text-center">About Me</p>
           <p class="lead text-center">
               <a class="btn btn-primary btn-lg text-center" href="about" role="button">View</a>
           </p>
       </div>
   </div>
 <% include ../partials/footer %>