<% include ../partials/header %>
<form action="/products/insert" method="post">


<div class="form-group">
  <label for="">Title</label>
  <input type="text"
    class="form-control" value="" name="title" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Title</small>
</div>
<div class="form-group">
  <label for="">Price</label>
  <input type="number"
    class="form-control" value=""name="price" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Price</small>
</div>

<div class="form-group">
    <label for="">Creat At</label>
    <input type="text"
    class="form-control" value="<%= time %>" id="" aria-describedby="helpId" placeholder="" disabled>
    <input type="hidden" id="custId" name="time" value="<%= time %>">
    <small id="helpId" class="form-text text-muted">Time</small>
  </div>
      
  <button type="submit" class="btn btn-secondary">Save</button>
  <a class="btn btn-danger" href="/products">Cancel</a>
</div>


</form>
 <% include ../partials/footer %>