<% include ../partials/header %>
<form action="/products/insert" method="post">
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" value="" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

<div class="form-group">
  <label for="">Title</label>
  <input type="text"
    class="form-control" value="" name="title" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Title</small>
</div>
<div class="form-group">
  <label for="">Price</label>
  <input type="number"
    class="form-control" value=""name="price" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Price</small>
</div>

<div class="form-group">
        <label for="">Time</label>
        <input type="text"
          class="form-control" value="<%= time %>"name="price" id="" aria-describedby="helpId" placeholder="" disabled>
        <small id="helpId" class="form-text text-muted">Price</small>
      </div>
      <div class="well">
        <div id="datetimepicker1" class="input-append date">
          <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
      <script type="text/javascript">
        $(function() {
          $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
          });
        });
      </script>
  <button type="submit" class="btn btn-secondary">Save</button>
</div>


</form>
 <% include ../partials/footer %>